<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="container">

<h2>Artwork List</h2>

<a class="btn" href="/add_artwork">Add New Artwork</a>

<table class="user-table">

<tr>
<th>Title</th>
<th>Artist</th>
<th>Price</th>
<th>Action</th>
</tr>

{% for artwork in artworks %}

<tr>

<td>{{ artwork.title }}</td>
<td>{{ artwork.artist }}</td>
<td>{{ artwork.price }}</td>

<td>
<a class="delete-btn" href="/delete_artwork/{{ loop.index0 }}">Delete</a>
</td>

</tr>

{% endfor %}

</table>

<br>
<h2>Artwork Gallery</h2>

<form method="GET">

<input type="text" name="search" placeholder="Search artwork">

<input type="text" name="artist" placeholder="Artist name">

<button type="submit">Search</button>

</form>

<hr>

<div class="grid">

{% for art in artworks %}

<div class="card">

<img src="{{ art.image }}" width="200">

<h3>{{ art.title }}</h3>

<p>Artist: {{ art.artist }}</p>

<p>Price: ₹{{ art.price }}</p>

<a href="/artwork/{{ art.id }}">View Details</a>

</div>

{% endfor %}

</div>
<a href="/admin">Back to Dashboard</a>

</div>